@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@theme {
  --color-primary-btn: red;
  --color-primary-btn-hover: #cb0404;
  --color-secondary-bg: #f3f2ec;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary-btn: red;
  --color-primary-btn-hover: #e62727;
  --color-secondary-bg: #f3f2ec;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary-btn: blue;
  --color-primary-btn-hover: #1c96e1;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mySwiper .swiper-navigation-icon,
.mySwiper .swiper-navigation-icon {
  color: #fff;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.35));
}

.mySwiper .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.6;
}
.mySwiper .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.35));
}
